.search-form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: #4056b4;

  position: fixed;
  width: 100%;
}

.search-form {
  position: relative;
}

.input {
  display: inline-flex;
  width: 400px;
  height: 30px;

  border: none;
  outline: none;
  border-radius: 3px;

  padding-left: 10px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 100%;
  font-size: 17px;

  border-radius: 0px 3px 3px 0px;

  margin: 0;
  padding: 0px 0px 2px 0px;
  border: none;
  cursor: pointer;
}
