* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.search-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #4056b4;
  position: fixed;
  width: 100%;
}

.search-form {
  position: relative;
}

.input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 400px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 10px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 17px;
  border-radius: 0px 3px 3px 0px;
  margin: 0;
  padding: 0px 0px 2px 0px;
  border: none;
  cursor: pointer;
  background-color: #f1eff1;
}

.search-btn:hover {
  background-color: #e2e2e2;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  margin-bottom: 15px;
}

.photo-card {
  width: calc(100% / 4 - 20px);
  margin: 10px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.photo-card__img {
  display: block;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 80px;
}

.info-item {
  text-align: center;
}

.load-more {
  display: block;
  margin: 25px auto;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 0 30px;
  height: 30px;
  border: 0;
  background-color: #f1eff1;
}

.load-more:hover {
  background-color: #e2e2e2;
}

.load-more.is-hidden {
  display: none;
}

.end-search__info {
  display: none;
  text-align: center;
  color: #d2d2d2;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 25px;
}

.end-search__info.show {
  display: block;
}

.loading {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.loading.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  -webkit-animation: jump 0.5s ease-in infinite;
          animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes jump {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes jump {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=main.css.map */